html
	head
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
		link(rel="stylesheet" href=`${process.env.MYHOST}stylesheets/style.css`)
		script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
		script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')

	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-light.top-menu
			a.navbar-brand(href='/') Hello World

			button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarNavAltMarkup.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item
						a.nav-link(href='/') Home
					li.nav-item
						a.nav-link(href='/gioithieu') Giới thiệu
					li.nav-item
						a.nav-link(href='/lienhe') Liên hệ
					if user
						li.nav-item
						a.nav-link(href='/khoahoccuatoi') Khóa học của tôi
						if user.role == 'admin'
							li.nav-item
								a.nav-link(href='/users') Thành viên
							li.nav-item
								a.nav-link(href='/khoahoc') Khóa học
				if user
					ul.navbar-nav
						li.nav-item
							a.nav-link(href='/')= user.name
						li.nav-item
							a.btn.btn-outline-danger(type="button", href='/auth/logout') Đăng xuất
				else
					ul.navbar-nav
						li.nav-item
							a.btn.btn-outline-success(type="button", href='/auth/login') Đăng nhập
		.container
			block content
		nav.navbar.navbar-expand-lg.navbar-light.bg-light.top-menu
			h6 
				a(href='http://facebook.com/HelloWorld') Facebook: facebook.com/HelloWorld | 
				span  Hotline: 0384.638.890

 


