extends ../layouts/common

block content
    .text-lienhe
        h1.mt-2 Để đăng kí các khóa học Online tại Hello World, mời bạn vui lòng chuyển khoản vào 1 trong các tài khoản sau:
        h3.text-secondary.mt-2 (TechcomBank) Ngân Hàng Kỹ Thương Việt Nam. PGD Định Công, Hà Nội. Họ tên: Đinh Văn Thành, Số TK: 1903.0185.9870.16
        h3.text-secondary.mt-2 (TechcomBank) Ngân Hàng Kỹ Thương Việt Nam. PGD Định Công, Hà Nội. Họ tên: Đinh Văn Thành, Số TK: 1903.0185.9870.16
        h3.text-secondary.mt-2 (TechcomBank) Ngân Hàng Kỹ Thương Việt Nam. PGD Định Công, Hà Nội. Họ tên: Đinh Văn Thành, Số TK: 1903.0185.9870.16
        h3.text-secondary.mt-2 (TechcomBank) Ngân Hàng Kỹ Thương Việt Nam. PGD Định Công, Hà Nội. Họ tên: Đinh Văn Thành, Số TK: 1903.0185.9870.16
        h2.text-danger.mt-2 Nội dung chuyển khoản các bạn ghi:(Tên khóa học cần Đăng ký, Họ tên của bạn)
        h3.text-secondary.mt-2 Sau khi chuyển khoản xong bạn vui lòng nhắn tin cho Thành Toe qua Facebok hoặc Số điện thoại để được truy cập được vào bài học đã thanh toán của mình.